# Configuration file

GSNAP_EXE '/local/gmap/2012-05/bin/gsnap'
GSNAP_GENOME_DIRECTORY '/home/SAVE-OMAHA/tderrien/DATA/canFam3/sequence/gmap/canfam3/'
GSNAP_GENOME_NAME 'canFam3'

ANNOTATION_GFF '/home/genouest/umr6061/recomgen/dog/data/canFam3/annotation/MasterAnnotation/canfam3_cons_annot.gff'
